@font-face {
	font-family: "GowunDodum";
	font-style: normal;
	font-weight: 400;
	src: url("../../dist/fonts/GowunDodum-Regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Fahkwang";
	font-style: normal;
	font-weight: 300;
	src: url("../../dist/fonts/Fahkwang-Light.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("../../dist/fonts/Inter-Regular.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	src: url("../../dist/fonts/Inter-Medium.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	src: url("../../dist/fonts/Inter-SemiBold.woff2") format("woff2");
	font-display: swap;
}